//COLORS
$background-color: #020021;
$blue: #47D2FB;
$blue-border: rgba(71, 210, 251, 0.35);
$dark-blue: #21697E;
$red: #8e0001;
$white: #fff;

//FONTS
$title-font: 'Share Tech Mono', monospace;
$title-size: 24px;
$title-shadow: 0px 0px 20px rgba(71, 209, 251, 1);
$text-font: 'Source Code Pro', monospace;
$text-size: 16px;

//BORDER
$border: $blue-border 0.3px solid;