html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}


/**
* INTERFACE STYLE
**/
.interface{
    height: 100%;
    width: 100%;
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    .screen-off{
        width: 100%;
        height: 100%;
        background-color: #020021;
        z-index: 4;
        position: fixed;
        opacity: 0;
        transition: opacity 1s ease-in;
        transform: translateX(-100%);
    }
    .screen-off-toggle{
        opacity: 1;
    }
    .section{
        position: relative;
        border: $border;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-family: $text-font;
            color: $white;
            font-size: 19px;
            font-weight: 300;
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: rgba(255, 255, 255, 0.12);
            text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
            padding: 3px 14px;
        }
        h2{
            position: absolute;
            top: 3px;
            left: 3px;
            font-family: $title-font;
            font-size: $title-size;
            color: $blue;
            font-weight: 100;
            text-shadow: $title-shadow;
        }
    }
    .left-part{
        width: 34%;
        max-height: 100%;
        /*border: $border;*/
        margin: 20px 10px 20px 20px;
        .left-part-top{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            height: 30%;
            width: 100%;
            .left-part-top-left{
                width: 70%;
                .main{
                    height: 100%;
                    /*margin: 10px 5px 0px 10px;*/
                    box-sizing: border-box;
                    padding: 0px 10px 10px 0px;
                    .main-content{
                        .red-point{
                            position: absolute;
                            top: 13px;
                            left: 123px;
                            height: 16px;
                            width: 16px;
                            border-radius: 50%;
                            background-color: $red;
                            box-shadow: 0px 0px 30px 5px rgba(142,0,1,1);
                            animation: red-point-bounce;
                            animation-duration: 1s;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease-in-out;
                            will-change: transform;

                        }
                        .main-text{
                            margin: 20px;
                            width: 100%;
                            p{
                                color: $white;
                                font-family: $text-font;
                                font-size: $text-size;
                                text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                                margin: 0;
                                padding: 5px 0px;
                            }
                        }
                    }
                }
            }
            .left-part-top-right{
                width: 30%;
                .signal{
                    height: 50%;
                    box-sizing: border-box;
                    padding: 0px 0px 10px 10px;
                    .signal-content{
                    }
                    .signal-indicator{
                        width: 65%;
                        height: 50%;
                        margin-top: 12%;
                        display: flex;
                        justify-content: space-between;
                        flex-flow: row-reverse nowrap;
                        transform: rotateZ(180deg);
                        .signal-bar{
                            width: 9%;
                            border: $white 1px solid;
                            box-shadow: 0px 0px 2px 1px $white;
                        }
                        .bar-1{
                            height: 30%;
                            background: $white;
                        }
                        .bar-2{
                            height: 45%;
                            background: $white;
                        }
                        .bar-3{
                            height: 60%;
                            background: $white;
                        }
                        .bar-4{
                            height: 75%;
                            background: $white;
                        }
                        .bar-5{
                            height: 100%;
                            animation-name: signal-white;
                            animation-duration: 3s;
                            animation-iteration-count: infinite;
                            will-change: background-color;
                        }
                    }
                }
                .statuts{
                    height: 50%;
                    padding: 10px 0px 10px 10px;
                    box-sizing: border-box;
                    .statuts-content{
                        .statuts-lights{
                            width: 80%;
                            height: 40%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            flex-flow: row wrap;
                            box-sizing: border-box;
                            margin-top: 8px;
                            .statuts-item{
                                background-color: $blue;
                                width: calc(100%/5);
                                height: 15%;
                                margin: 2px;
                                animation-name: statuts-color;
                                animation-duration: 2s;
                                animation-iteration-count: infinite;
                            }
                            #light-1{animation-delay: 1s}
                            #light-2{animation-delay: 0s}
                            #light-3{animation-delay: 1s}
                            #light-4{animation-delay: 1s}
                            #light-5{animation-delay: 0s}
                            #light-6{animation-delay: 1s}
                            #light-7{animation-delay: 1s}
                            #light-8{animation-delay: 0s}
                            #light-9{animation-delay: 1s}
                            #light-10{animation-delay: 0s}
                            #light-11{animation-delay: 0s}
                            #light-12{animation-delay: 1s}

                        }
                    }
                }
            }
        }
        .left-part-middle{
            height: 30%;
            width: 100%;
            .health{
                height: 100%;
                padding: 10px 0px;
                box-sizing: border-box;
                .health-content{
                    .health-circles{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 65%;
                        height: 50%;
                        h3{
                            text-align: center;
                            font-family: $text-font;
                            font-size: $text-size;
                            color: $white;
                            text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                        }
                        .progress-ring{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .health-circle{
                            width: 14vh;
                            height: 14vh;
                            position: relative;
                            .progress-ring-circle {
                                transition: 0.35s stroke-dashoffset;
                                // axis compensation
                                transform: rotate(-90deg);
                                transform-origin: 50% 50%;
                            }
                        }
                        .shield-circle{
                            width: 14vh;
                            height: 14vh;
                            .progress-ring-circle {
                                transition: 0.35s stroke-dashoffset;
                                // axis compensation
                                transform: rotate(-90deg);
                                transform-origin: 50% 50%;
                            }
                        }
                    }
                }
            }
        }
        .left-part-bottom{
            height: 40%;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            .left-part-bottom-left{
                width: 50%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                .console{
                    height: 80%;
                    box-sizing: border-box;
                    padding: 10px 10px 10px 0px;
                    .console-content{
                        .console-text{
                            padding: 15px;
                            overflow: hidden;
                            max-height: 80%;
                            margin-bottom: 15px;
                            p{
                                color: $white;
                                margin: 0;
                                text-align: left;
                                font-family: $text-font;
                                font-size: $text-size;
                                /*text-justify: inter-character;*/
                                text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                            }
                        }
                    }
                }
                .start-button{
                    height: 20%;
                    box-sizing: border-box;
                    padding: 10px 10px 0px 0px;
                    z-index: 5;
                    .start-button-content{
                        transition: background-color 0.5s ease-in;
                        button{
                            font-family: $title-font;
                            font-size: 30px;
                            text-shadow: $title-shadow;
                            color: $blue;
                            background: none;
                            border: none;
                        }
                    }
                }
                .start-button-content:hover{
                    background-color: rgba(255, 255, 255, 0.06);
                }
            }
            .left-part-bottom-right{
                width: 50%;
                height: 100%;
                .data{
                    height: 45%;
                    box-sizing: border-box;
                    padding: 10px 0px 10px 10px;
                    .data-content{
                        .data-numbers{
                            width: 80%;
                            height: 60%;
                            display: flex;
                            justify-content: space-around;
                            flex-flow: row wrap;
                            align-items: center;
                            margin-top: 6%;
                            p{
                                padding: 0% 8%;
                                color: $white;
                                font-family: $text-font;
                                font-size: $text-size;
                            }
                        }
                    }
                }
                .commands{
                    height: 55%;
                    box-sizing: border-box;
                    padding: 10px 0px 0px 10px;
                    .commands-content{
                        .commands-buttons{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 58%;
                            width: 70%;
                            flex-flow: column nowrap;
                            margin-top: 6%;
                            .command-button{
                                width: 100%;
                                min-height: 25%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin: 3%;
                                border: $blue 1px solid;
                                display: flex;
                                justify-content: center;
                                box-shadow: 0px 0px 5px 0.1px rgba(71, 209, 251, 0.5);
                                transition: background-color 0.5s ease-in;
                                button{
                                    color: $blue;
                                    font-family: $text-font;
                                    font-size: $text-size;
                                    text-shadow: 0px 0px 80px rgba(71, 209, 251, 1);
                                }
                                
                            }
                            .command-button:hover{
                                background-color: rgba(255, 255, 255, 0.06);
                            }
                        }
                    }
                }
            }
        }
    }
    .middle-part{
        width: 32%;
        max-height: 100%;
        /*border: $border;*/
        margin: 20px 10px 20px 10px;
        .middle-part-top{
            height: 25%;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            .temperature{
                width: 50%;
                box-sizing: border-box;
                padding: 0px 10px 10px 0px;
                .temperature-content{
                    h3{
                        position: absolute;
                        bottom: -22px;
                        font-family: $text-font;
                        font-size: $text-size;
                        color: $white;
                        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                    }
                    .temperature-bars{
                        width: 80%;
                        height: 60%;
                        display: flex;
                        justify-content: space-between;
                        .temperature-engine{
                            border-bottom: 1px solid $dark_blue;
                            width: 40%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            position: relative;
                            .temperature-engine-value{
                                background-color: $blue;
                                height: 100%;
                                width: 65%;
                                animation: temperature-variation-engine;
                                animation-duration: 15s;
                                animation-timing-function: ease-in;
                                animation-iteration-count: infinite;
                                animation-fill-mode: both;
                                transform: scaleY(0.6);
                                transform-origin: bottom;
                                will-change: transform;
                                box-shadow: 0px 0px 5px 0.1px $blue;
                            }
                        }
                        .temperature-ambiant{
                            border-bottom: 1px solid $dark_blue;
                            width: 40%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            position: relative;
                            .temperature-ambiant-value{
                                background-color: $blue;
                                height: 100%;
                                width: 65%;
                                animation: temperature-variation-ambiant;
                                animation-duration: 10s;
                                animation-timing-function: ease-in;
                                animation-iteration-count: infinite;
                                animation-fill-mode: both;
                                transform: scaleY(0.4);
                                transform-origin: bottom;
                                will-change: transform;
                                box-shadow: 0px 0px 5px 0.1px $blue;
                            }
                        }
                    }
                }
            }
            .location{
                width: 50%;
                box-sizing: border-box;
                padding: 0px 0px 10px 10px;
                .location-content{
                    .location-items{
                        width: 80%;
                        height: 45%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 12%;
                        .location-scope{
                            width: 40%;
                            .scope-circle-1{
                                fill: none;
                                stroke: $white;
                                stroke-width: 2px;
                            }
                            .scope-circle-2{
                                fill: none;
                                stroke: $white;
                                stroke-width: 2px;
                            }
                            .scope-line-1{
                                stroke: $white;
                                stroke-width: 2px;
                            }
                            .scope-line-2{
                                stroke: $white;
                                stroke-width: 2px;
                            }
                            .scope-line-3{
                                stroke: $white;
                                stroke-width: 3px;
                            }
                            .scope-line-4{
                                stroke: $white;
                                stroke-width: 3px;
                            }
                            .scope-line-5{
                                stroke: $white;
                                stroke-width: 3px;
                            }
                            .scope-line-6{
                                stroke: $white;
                                stroke-width: 3px;
                            }
                        }
                        .location-position{
                            width: 50%;
                            p{
                                color: $white;
                                font-family: $text-font;
                                font-size: $text-size;
                                text-align: right;
                                text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                            }
                        }
                    }
                }
            }
        }
        .middle-part-middle{
            height: 50%;
            .engine{
                width: 100%;
                box-sizing: border-box;
                padding: 10px 0px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .engine-content{
                    border-radius: 50%;
                    border: 1.5px $blue solid;
                    width: 45vh;
                    height: 45vh;
                    .circle{
                        width: 45vh;
                        height: 45vh;
                        .circle-1{
                            stroke: $white;
                            stroke-width: 3.5px;
                            stroke-dasharray: 0.6;
                            fill: none;
                            animation: engine-rotate-1;
                            animation-duration: 9s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            transform-origin: 50% 50%;
                            will-change: transform;
                        }
                        .circle-2{
                            stroke: $red;
                            stroke-width: 0.5px;
                            stroke-dasharray: 14;
                            fill: none;
                            animation: engine-rotate-1;
                            animation-duration: 14s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            animation-direction: reverse;
                            transform-origin: 50% 50%;
                            will-change: transform;
                        }
                        .circle-3{
                            stroke: $blue;
                            stroke-width: 0.5px;
                            stroke-dasharray: 1;
                            stroke-linecap: round;
                            fill: none;
                            animation: engine-rotate-1;
                            animation-duration: 18s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            transform-origin: 50% 50%;
                            will-change: transform;
                        }
                        .circle-4{
                            stroke: $white;
                            stroke-width: 1.3px;
                            stroke-dasharray: 27;
                            fill: none;
                            animation: engine-rotate-1;
                            animation-duration: 5s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            animation-direction: reverse;
                            transform-origin: 50% 50%;
                            will-change: transform;
                        }
                        .circle-5{
                            stroke: $red;
                            stroke-width: 2.5px;
                            fill: none;
                        }
                        .circle-6{
                            stroke: $blue;
                            stroke-width: 4px;
                            stroke-dasharray: 0.8;
                            fill: none;
                            animation: engine-rotate-1;
                            animation-duration: 4s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            transform-origin: 50% 50%;
                            will-change: transform;
                        }
                        .circle-7{
                            stroke: $white;
                            stroke-width: 1px;
                            stroke-dasharray: 8;
                            fill: none;
                            animation: engine-rotate-1;
                            animation-duration: 20s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            animation-direction: reverse;
                            transform-origin: 50% 50%;
                            will-change: transform;
                        }
                        .circle-8{
                            stroke: $blue;
                            stroke-width: 0.5px;
                            stroke-dasharray: 0.4;
                            fill: none;
                            animation: engine-rotate-1;
                            animation-duration: 6s;
                            animation-iteration-count: infinite;
                            animation-timing-function: linear;
                            transform-origin: 50% 50%;
                            will-change: transform;
                        }
                        .circle-9{
                            fill: $red;
                            transform-origin: 50% 50%;
                            animation: red-point-bounce;
                            animation-duration: 3s;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease-in-out;
                            will-change: transform;
                        }
                    }

                }

            }
        }
        .middle-part-bottom{
            height: 25%;
            display: flex;
            flex-flow: column nowrap;
            .voice{
                box-sizing: border-box;
                height: 50%;
                width: 100%;
                padding: 10px 0px;
                .voice-content{
                    .voice-equalizer{
                        width: 100%;
                        height: 40%;
                        display: flex;
                        margin-top: 5%;
                        .voice-equalizer-bar{
                            width: calc(100%/15);
                            height: 60%;
                            background-color: $blue;
                            animation-name: equalizer-bar-bounce;
                            animation-duration: 0.8s;
                            animation-iteration-count: infinite;
                            animation-fill-mode: backwards;
                            box-shadow: 0px 0px 8px 0.5px $blue;
                        }
                    }
                }
            }
            .environment{
                box-sizing: border-box;
                height: 50%;
                width: 100%;
                padding: 10px 0px 0px 0px;
                .environment-content{
                    .environment-equalizer{
                        width: 100%;
                        height: 40%;
                        display: flex;
                        margin-top: 5%;
                        .sound-equalizer-bar{
                            width: calc(100%/15);
                            height: 100%;
                            background-color: $blue;
                            animation-name: equalizer-bar-bounce;
                            animation-duration: 0.8s;
                            animation-iteration-count: infinite;
                            animation-fill-mode: backwards;
                            box-shadow: 0px 0px 8px 0.5px $blue;
                        }
                    }
                }
            }
            .sound-bar-1{
                animation-delay: 0.1s;
            }
            .sound-bar-2{
                animation-delay: 0.2s;
            }
            .sound-bar-3{
                animation-delay: 0.3s;
            }
            .sound-bar-4{
                animation-delay: 0.4s;
            }
            .sound-bar-5{
                animation-delay: 0.5s;
            }
            .sound-bar-6{
                animation-delay: 0.4s;
            }
            .sound-bar-7{
                animation-delay: 0.3s;
            }
            .sound-bar-8{
                animation-delay: 0.2s;
            }
            .sound-bar-9{
                animation-delay: 0.1s;
            }
        }
    }
    .right-part{
        width: 34%;
        /*border: $border;*/
        margin: 20px 20px 20px 10px;
        .right-part-top{
            height: 38%;
            .map{
                box-sizing: border-box;
                height: 100%;
                width: 100%;
                padding: 0px 0px 10px 0px;
                .map-content{
                    background-color: rgba(255, 255, 255, 0.06);
                    position: relative;
                    overflow: hidden;
                    .team-player{
                        position: absolute;
                        transition: all 0.2s ease-in-out;
                        .dot-player{
                            height: 15px;
                            width: 15px;
                            background-color: $white;
                            border-radius: 50%;
                            position: relative;
                            box-shadow: 0px 0px 5px 1px $white;
                            .dot-line{
                                width: 18px;
                                height: 18px;
                                transform: rotate(-45deg);
                                border-bottom: 1px solid $white;
                                position: absolute;
                                top: -25px;
                                left: 8px;
                                /*box-shadow: 0px 0px 2px -1px $white;*/
                            }
                            h5{
                                color: $white;
                                position: absolute;
                                top: -34px;
                                left: 33px;
                                text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
                                font-family: $text-font;
                                font-size: 14px;
                                text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                            }
                        }
                    }
                }
            }
        }
        .right-part-middle{
            height: 34%;
            .team{
                box-sizing: border-box;
                height: 100%;
                width: 100%;
                padding: 10px 0px;
                .team-content{
                    .team-list{
                        height: 70%;
                        width: 100%;
                        margin: 10px 10px 40px 10px;
                        .team-member{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin: 5px;
                            height: calc(100%/9);
                            h3{
                                margin: 0;
                                color: $white;
                                font-family: $text-font;
                                font-size: $text-size;
                                text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                            }
                            .health-bar{
                                background-color: $dark-blue;
                                width: 82%;
                                height: 50%;
                                .health-value{
                                    display: flex;
                                    justify-content: flex-start;
                                    background-color: $blue;
                                    height: 100%;
                                    animation: health-move;
                                    animation-duration: 80s;
                                    animation-iteration-count: infinite;
                                    animation-timing-function: ease-in-out;
                                    will-change: transform;
                                    transform-origin: 0%;
                                    animation-fill-mode: both;
                                    box-shadow: 0px 0px 8px 0.5px $blue;
                                }
                                #health-1{
                                    animation-delay: 6s;
                                }
                                #health-2{
                                    animation-delay: 1s;
                                }
                                #health-3{
                                    animation-delay: 2s;
                                }
                                #health-4{
                                    animation-delay: 8s;
                                }
                                #health-5{
                                    animation-delay: 1s;
                                }
                                #health-6{
                                    animation-delay: 2s;
                                }
                                #health-7{
                                    animation-delay: 6s;
                                }
                                #health-8{
                                    animation-delay: 2s;
                                }
                                #health-9{
                                    animation-delay: 4s;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right-part-bottom{
            height: 28%;
            display: flex;
            flex-flow: row nowrap;
            .stability{
                width: 40%;
                box-sizing: border-box;
                height: 100%;
                padding: 10px 10px 0px 0px;
                .stability-content{
                    .triangles{
                        position: relative;
                        .triangle-1{
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 100px 150px 100px;
                            border-color: transparent transparent $blue transparent;
                            animation-name: stability-scale;
                            animation-duration: 10s;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease-out;
                            opacity: 1;
                            will-change: transform;
                        }
                        /*.triangle-2{
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 50px 75px 50px;
                            border-color: transparent transparent $red transparent;
                            animation-name: stability-scale;
                            animation-duration: 10s;
                            animation-iteration-count: infinite;
                            animation-timing-function: ease-out;
                            opacity: 0.8;
                            position: absolute;
                            top: 45px;
                            left: 50px;
                        }*/
                    }
                }
            }
            .timer{
                width: 60%;
                box-sizing: border-box;
                height: 100%;
                padding: 10px 0px 0px 10px;
                .timer-content{
                    flex-flow: column-reverse nowrap;
                    .h24{
                        height: 45%;
                        width: 100%;
                        font-family: $text-font;
                        font-size: $text-size;
                        color: $white;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        position: relative;
                        margin-top: 10%;
                        h3{
                            position: absolute;
                            top: 0px;
                            left: 6px;
                            text-decoration: underline;
                            text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                        }
                        .h24-timer{
                            height: 50%;
                            width: 70%;
                            border: $red 1px solid;
                            margin-bottom: 6%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0px 0px 2px 1px $red;
                            p{
                                color: $red;
                                font-family: $text-font;
                                font-size: 30px;
                                text-decoration: none;
                                text-shadow: 0px 0px 6px $red;
                            }
                        }
                    }
                    .mission{
                        height: 45%;
                        width: 100%;
                        font-family: $text-font;
                        font-size: $text-size;
                        color: $white;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        position: relative;
                        h3{
                            position: absolute;
                            top: 0px;
                            left: 6px;
                            text-decoration: underline;
                            text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                        }
                        .mission-timer{
                            height: 50%;
                            width: 70%;
                            border: $red 1px solid;
                            margin-bottom: 6%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0px 0px 2px 1px $red;
                            p{
                                color: $red;
                                font-family: $text-font;
                                font-size: 30px;
                                text-decoration: none;
                                text-shadow: 0px 0px 6px $red;
                            }
                        }
                    }
                }
            }
        }
    }
}


/**
* RESPONSIVE
**/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}


/**
* KEYFRAMES
**/

@keyframes red-point-bounce{
    0%{transform: scale(1)}
    50%{transform: scale(0.90)}
    100%{transform: scale(1);}
}

@keyframes signal-white{
    0%{background-color: none}
    50%{background-color: $white}
    100%{background-color: none}
}

@keyframes statuts-color{
    0%{background-color: $blue}
    50%{background-color: $red}
    100%{background-color: $blue}
}

@keyframes temperature-variation-engine{
    0%{transform: scaleY(0.7)}
    25%{transform: scaleY(0.6)}
    50%{transform: scaleY(0.7)}
    75%{transform: scaleY(0.8)}
    100%{transform: scaleY(0.7)}
}

@keyframes temperature-variation-ambiant{
    0%{transform: scaleY(0.4)}
    50%{transform: scaleY(0.5)}
    100%{transform: scaleY(0.4)}
}

@keyframes engine-rotate-1{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}

@keyframes equalizer-bar-bounce{
    0%   {transform: scaleY(0.4)}
    10%   {transform: scaleY(1)}
    100% {transform: scaleY(0.3)}
}

@keyframes health-move{
    0%{transform: scaleX(0.8)}
    10%{transform: scaleX(0.70)}
    20%{transform: scaleX(0.5)}
    30%{transform: scaleX(0.65)}
    40%{transform: scaleX(0.45)}
    50%{transform: scaleX(0.80)}
    60%{transform: scaleX(1)}
    70%{transform: scaleX(0.75)}
    80%{transform: scaleX(0.5)}
    90%{transform: scaleX(0.4)}
    100%{transform: scaleX(0.6)}
}

@keyframes stability-scale{
    0%{transform: scaleX(0.8) scaleY(0.7)}
    25%{transform: scaleX(0.6) scaleY(0.5)}
    50%{transform: scaleX(0.8) scaleY(0.7)}
    75%{transform: scaleX(0.4) scaleY(0.9)}
    100%{transform: scaleX(0.8) scaleY(0.7)}
}
